
@{
    ViewData["Title"] = "Congratulations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/css/Cogratulations.css">


</head>

<body>

    <br />
    <br />
    <br />
    <br />

    <div class="realoutercontainer">
        <div class="outercontainer">
            <div class="outercontainer2">
                <div class="outercontainer3">
                    <div class="outercontainer4">
                        <h1>Congratulations!</h1>
                        <p>
                            YOUR ORDER HAS BEEN SUCCESSFULLY PLACED.
                        </p>

                        <form asp-action="HomePage" asp-controller="Authentication">
                            <input type="submit" value="OKAY" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="common-rectangleGrid original">
            <!-- Background -->
            <div class="backgroundContainer">
                <div class="grid">
                    <div class="background"></div>
                </div>
            </div>
            <!-- rectangles -->
            <div class="rectangleContainer">
                <div class="grid">
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                </div>
            </div>
        </div>
    </div>
</body>

