
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 id="mainhead">Return Order Portal</h1>
    <div class="container1" id="container1">
        <div class="form-container sign-in-container">
            <form method="post">
                <h1>USER<br /> Sign In</h1>
                <input name="mail" type="email" placeholder="Email" required />
                <input name="pass" type="password" placeholder="Password" required />
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</div>

